 * {
  font-family: var(--font-poppins), sans-serif;
 }

h1, h2, h3, h4 {
  font-family: var(--font-montserrat), sans-serif !important;
  margin: 0;
}

body {
  font-family: var(--font-poppins), sans-serif;
  color: #1f2937;
  background-color: #f9fafb;
}

/* Global input standard - Poppins */
input, select, textarea, button {
  font-family: var(--font-poppins), sans-serif;
  font-size: 14px;
}